{% extends 'ddp/main.html' %}

{% load static %}


{% block content %}
<h1 style="text-align:center">Active user</h1>
<div  class="row" style="text-align:center">
    <div class="col-md">
		<div class="card card-body" style="background-color:darkgray;">
<P>Are you sure to <b>Active ?</b> </P>
<p>{{users.username}}</p><br>

<form action ="" method="POST">
        {% csrf_token %}
        <a href="{% url 'user' user.username %}">cancel</a>
        <input type="submit" name="confirm">

    </form>











{% endblock %}