<style xmlns="http://www.w3.org/1999/html">
    .center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


</style>


{% extends 'ddp/main.html' %}


{% load static %}


{% block content %}
<div class="col" >
    <div class="col-md" style="background-color:darkgray">
<h1 style="text-align:center">Welcome to Data Duplication Removal Using File Checksum</h1>
<p style="text-align:center;">Upload | Share | Delete Anything you want...</p>

        <img style="display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;" height="300px" width="300px" src={% static "images/cloud1.gif" %}><br><br>

<button class="center">
    <a href={%url 'admin' user.username %}>click here to go your profile
</button>
</div>
</div>



{% endblock %}