{% extends 'ddp/main.html' %}

{% load static %}


{% block content %}
<h1 style="text-align:center">Delete file</h1>

<div style="text-align:center" class="col">
<div  class="col" >
    <div class="col-md">
		<div class="card card-body" style="background-color:darkgray;">

<P>Are you sure to <b>delete?</b> <br> "{{title}}" </P>


    <form action ="" method="POST">
        {% csrf_token %}
        <a href="{% url 'user' user.username %}">cancel</a>
        <input type="submit" name="confirm">

    </form>


{% endblock %}

        </div>
    </div>
</div>
</div>
