<!DOCTYPE html>
<html>
<head>
	<title>Reset password succesfully</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background: #E0E0E0">
<h3 style="text-align: center;">Password Reset</h3>

<div class = "col">
<div  class="row" >
    <div class="col-md">
		<div class="card card-body" style="background-color:darkgray;">

<h3>Password reset sent</h3>

<p>We have emailed you instructions for setting your password
, if an account exists with the email you entered. you should receive them shortly.</p>

<p>if you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

    </div>
</div>
</div>

</body>
</html>