<!DOCTYPE html>
<html>
<head>
	<title>Reset password</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background: #E0E0E0">
<h3 style="text-align: center;">Password Reset</h3>

<div class = "col">
<div  class="row" >
    <div class="col-md">
		<div class="card card-body" style="background-color:darkgray;">

<h3>Enter the password</h3>

<p>Please enter your new password twice so we can verify you typed is correctly.</p>

<form method="POST">
    {%csrf_token%}
    {{form}}
    <input type="submit" name="update_password">
    </form>

    </div>
</div>
</div>

</body>
</html>