{% extends 'ddp/main.html' %}

{% load static %}


{% block content %}
<h1 style="text-align:center">Delete shared file</h1>
<div  class="col" style="text-align:center">
    <div class="col-md">
		<div class="card card-body" style="background-color:darkgray;">
<P style="text-align:center">Are you sure to <b>delete selected shared file?</b></P>


    <form action ="" method="POST">
        {% csrf_token %}
        <a href="{% url 'user' user.username %}">cancel</a>
        <input type="submit" name="confirm">

    </form>


{% endblock %}

        </div>
    </div>
</div>
