{% extends 'ddp/main.html' %}

{% block content %}
<div class = "col">
<div  class="row" >
    <div class="col-md">
		<div class="card card-body" style="background-color:darkgray;">
			<h5>My Profile</h5>
			<hr>
            <p>Name: {{user.username}}</p>
			<p>Email: {{user.email}}</p>

		</div>
	</div>


	<div class="col-md">
		<div class="card card-body" style="background-color:darkgray;">
			<h5>Upload File</h5>
			<hr>

			<p> </p><p> </p>
			<button class="btn btn-outline-info  btn-sm btn-block"><a href="{% url 'upload' user.username %}">Upload Now</a>
					</button>
			<p> </p>


		</div>
	</div>
</div></div>



<br>
<div class="col">

    <div class="col">
		<div class="card card-body" style="background-color:darkgray;">

            <h5>Your Files</h5>
            <hr>
			<form method="get">
                <p>Title :  {{upload_filters.form.u_title}}
                  From date :  {{upload_filters.form.start_date}}
                to :  {{upload_filters.form.end_date}} </p>

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>

    <div class="col-md">
		<div class="card card-body" style="background-color:darkgray;">

			<table class="scrolldown table table-sm" >
				<thead>
                <tr>
					<th>Title</th>
					<th>Date Created</th>
					<th>Download</th>
					<th>Share</th>
					<th>Delete</th>
				</tr>
                </thead>
                    {% for file in uploaded_files %}


				<tr>
					<td>{{file.u_title}}</td>
					<td>{{file.u_date}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'download' file.u_title %}">Download</a></td>
					<td><a class="btn btn-sm btn-info" href="{% url 'share' file.u_title %}">Share</a></td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'delete' file.u_title %}">Delete File</a></td>
				</tr>
					{% endfor %}
			</table>

		</div>
	</div>

</div>



<br>

<div class="col">
	<div class="col">
		<div class="card card-body" style="background-color:darkgray;">

            <h5>Shared to you</h5>
            <hr>
			<form method="get">
				<p>Title :  {{mysharefilter.form.s_title}}
                  From date :  {{mysharefilter.form.s_start_date}}
                to :  {{mysharefilter.form.s_end_date}} </p>

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>





	<div class="col-md">
		<div class="card card-body" style="background-color:darkgray;">

			<table class="table table-sm scrolldown">
				<thead>
                <tr>
					<th>Title</th>
					<th>Shared by</th>
					<th>Date Created</th>
					<th>Download</th>
					<th>Delete</th>
				</tr>
                </thead>
						{% for share in shares %}
				<tr>
					<td>{{share.s_title}}</td>
					<td>{{share.shared_by}}</td>
					<td>{{share.s_date}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'download' share.s_title %}">Download</a></td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'deleteshare' share.id %}">Delete File</a></td>
				</tr>
					{% endfor %}
			</table>

		</div>
	</div>

</div>

{% endblock %}